@mixin content {
  position: absolute;
  height: 100%;
  width: 100%;
}

.av-content {
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;

  .content-loading {
    @include content();
    display: flex;
    align-items: center;
    justify-content: center;

    .loading-icon {
      color: #4e7383;
    }
  }

  .content-loaded {
    @include content();
  }
}
