.av-content {
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;

  .panel {
    height: 0;
    overflow: auto;
    position: absolute;
    background-color: #fff;
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 5px 0 #ddd;
    border-radius: 3px;

    .panel-header {
      display: flex;
      cursor: move;
      border-bottom: 1px solid #ddd;
      line-height: 2rem;
      padding: 0 0.5rem;
      font-weight: bold;

      // .panel-title {

      // }
    }
  }
}
