.av-content {
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;

  .panel {
    height: 0;
    overflow: auto;
    position: absolute;
    background-color: #eee;
    transform: translate3d(0, 0, 0);

    .panel-header {
      display: flex;
      cursor: move;
      border-bottom: 1px solid #ddd;
      line-height: 2rem;
      padding: 0 0.5rem;

      // .panel-title {

      // }
    }
  }
}
