@mixin for-header-and-footer {
  min-height: 100px;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  background-color: #4e7383;
  color: #fff;
}

@keyframes breathing {
  100% {
    box-shadow: 0 0 0 6px #ff444d;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f4;
  overflow: hidden;

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .header {
      @include for-header-and-footer();
      font-size: 1.5rem;
      padding-left: 1rem;

      .header-buttons {
        margin-left: auto;
        margin-right: 1rem;

        button {
          background-color: transparent;
          cursor: pointer;
          outline: none;
          border: none;
          margin: 0 0.5rem;
        }
      }
    }

    .footer {
      @include for-header-and-footer();
      justify-content: center;
    }
  }

  .sortable-switch {
    cursor: pointer;

    button {
      margin-left: 1rem;
    }
  }

  .information-list {
    width: 100%;
    line-height: 1.5rem;
    min-height: 100%;

    .information-list-label {
      width: 5rem;
      padding: 0 0.5rem;
    }
  }

  .conversation {
    display: flex;
    height: 100%;
    margin: 0 0.5rem;
    flex-direction: column;

    .conversation-body {
      flex-grow: 1;
    }

    .conversation-buttons {
      display: flex;

      button {
        margin-right: 0.5rem;
        display: inline-block;

        &.danger::after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: block;
          border-radius: inherit;
          box-shadow: 0 0 0 0 #ff444d;
          opacity: 0.2;
          animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1) infinite,
            breathing 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) infinite;
          animation-fill-mode: forwards;
          content: '';
          pointer-events: none;
        }
      }
    }
  }
}
