@mixin for-header-and-footer {
  // min-height: 100px;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  background-color: #4e7383;
  color: #fff;
  box-shadow: 0 5px 10px 0 rgba(0, 64, 128, 0.05);
}

@keyframes breathing {
  100% {
    box-shadow: 0 0 0 6px #ff444d;
  }
}

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f4;
  overflow: hidden;

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // For fix with flex-grow of the main content in IE. f*ck IE.
    height: 0;

    .header {
      @include for-header-and-footer();
      font-size: 1.5rem;
      padding-left: 1rem;

      .header-buttons {
        margin-left: auto;
        margin-right: 1rem;

        button {
          background-color: transparent;
          cursor: pointer;
          outline: none;
          border: none;
          margin: 0 0.5rem;
        }
      }
    }

    .footer {
      @include for-header-and-footer();
      z-index: 1001;
      padding-left: 100%;
      box-sizing: content-box;
      overflow: hidden;
      width: 100%;

      .footer-body {
        display: inline-block;
        padding-right: 100%;
        white-space: nowrap;
        box-sizing: content-box;
        animation: ticker 25s linear infinite;
      }
    }
  }

  .settings-switch {
    cursor: pointer;
    display: flex;

    span {
      margin-right: 1rem;
    }

    button {
      margin-left: auto;
    }
  }

  .information-list {
    width: 100%;
    line-height: 1.5rem;
    // min-height: 100%;

    .information-list-label {
      width: 5rem;
      padding: 0 0.5rem;

      &.large {
        width: 6rem;
        padding: 0;
        padding-left: 0.5rem;
      }
    }
  }

  .conversation {
    display: flex;
    height: 100%;
    margin: 0 0.5rem;
    padding: 0.5rem 0;
    flex-direction: column;

    .conversation-body {
      flex-grow: 1;
      overflow-y: auto;

      .conversation-message {
        &.analyzing {
          color: #999;
        }

        .speaker-label {
          font-weight: bold;
        }
      }
    }

    .conversation-buttons {
      display: flex;

      .conversation-keywords {
        .keyword {
          display: inline-block;
          border: 1px solid #e8e8e8;
          border-radius: 3px;
          padding: 0 0.3rem;
          transition: all 0.2s ease;
          background-color: inherit;
          color: inherit;

          &.spotted {
            background-color: #4e7383;
            border-color: #4e7383;
            color: white;
          }

          &:not(:last-child) {
            margin-right: 3px;
          }
        }
      }

      button {
        margin-right: 0.5rem;
        display: inline-block;

        &.danger::after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: block;
          border-radius: inherit;
          box-shadow: 0 0 0 0 #ff444d;
          opacity: 0.2;
          animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1) infinite,
            breathing 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) infinite;
          animation-fill-mode: forwards;
          content: '';
          pointer-events: none;
        }
      }
    }
  }

  .normal-menu {
    .normal-menu-item {
      // font-size: 1.1rem;
      padding-left: 0.5rem;
      cursor: pointer;
      line-height: 2rem;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
  }

  .tab-bar {
    height: 1.3rem;
    width: 100%;
    display: flex;
    z-index: 1000;
    position: relative;
    transition: all 0.2s ease;
    margin-left: 0.5rem;

    .tab {
      position: relative;
      display: flex;
      overflow: hidden;
      cursor: pointer;
      color: #fff;

      &::after {
        content: '';
        position: absolute;
        top: -0.2rem;
        transition: all 0.1s ease;
        background: #4e7383;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 5px 5px 0 0;
        transform: perspective(0.5em) rotateX(1deg);
        transform-origin: bottom;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      }

      &.minimized::after {
        background: #6796ab;
      }

      .tab-name {
        padding-left: 0.5rem;
      }

      .tab-icons {
        margin-left: auto;
        padding-left: 1rem;
        padding-right: 0.5rem;
      }
    }
  }

  .panel {
    overflow: auto;
    position: absolute;
    background-color: #fff;
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 5px 0 #ddd;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .panel-header {
      display: flex;
      border-bottom: 1px solid #ddd;
      line-height: 2rem;
      font-weight: bold;

      .panel-title {
        padding: 0 0.5rem;
        cursor: pointer;
        cursor: grab;
        flex-grow: 1;

        &.disabled {
          cursor: not-allowed;
        }
      }

      .panel-buttons {
        padding: 0 0.5rem;

        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          transition: all 0.2s ease;
          outline: none;

          &:hover {
            color: #03a9f4;
          }

          &.minimize {
            transform: rotate(-90deg);
          }
        }
      }
    }

    .panel-content {
      flex-grow: 1;
      overflow: auto;
      position: relative;
    }

    .resize-border {
      z-index: 10;
      position: absolute;
      $borderWidth: 5px;

      &.left,
      &.right {
        height: 100%;
        width: 0;
        cursor: ew-resize;
        border-left: $borderWidth solid transparent;
      }

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }

      &.top,
      &.bottom {
        width: 100%;
        height: 0;
        cursor: ns-resize;
        border-top: $borderWidth solid transparent;
      }

      &.top {
        top: 0;
      }

      &.bottom {
        bottom: 0;
      }
    }

    .resize-icon {
      z-index: 20;
      $fontSize: 0.8rem;
      width: $fontSize;
      height: $fontSize;
      position: absolute;

      &.right-top {
        cursor: nesw-resize;
        top: 0;
        right: 0;
      }

      &.right-bottom {
        cursor: nwse-resize;
        bottom: 0;
        right: 0;
      }

      &.left-top {
        cursor: nwse-resize;
        top: 0;
        left: 0;
      }

      &.left-bottom {
        cursor: nesw-resize;
        bottom: 0;
        left: 0;
      }
    }
  }

  .panel.modal {
    .modal-wrapper {
      padding: 1rem;
      height: 100%;
      display: flex;
      flex-direction: column;

      .modal-date-input {
        flex-grow: 1;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .modal-button {
        width: 100%;
        height: 1.5rem;
        text-align: right;
      }
    }
  }

  .modal-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9990;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-date-picker {
    z-index: 19999;
  }

  .reply-auto {
    .reply-auto-header,
    .reply-auto-body {
      width: 100%;
    }

    thead {
      background-color: #fafafa;
    }

    th,
    td {
      font-weight: normal;
      padding: 0 0.5rem;
      border-bottom: 1px solid #e8e8e8;
      &:not(:last-child) {
        border-right: 1px solid #e8e8e8;
      }
    }
  }

  .user-information {
    .user-information-body {
      width: 100%;

      .special-start {
        td,
        th {
          border-top: 2px solid #e8e8e8;
        }
      }

      .special-end {
        td,
        th {
          border-bottom: 2px solid #e8e8e8;
        }
      }

      select {
        width: 100%;
      }

      th,
      td {
        padding: 0 0.5rem;
        border-bottom: 1px solid #e8e8e8;

        &:not(:last-child) {
          border-right: 1px solid #e8e8e8;
        }
      }

      td {
        text-align: right;

        &.center {
          text-align: center;
        }
      }

      th {
        background-color: #fafafa;
        font-weight: normal;
      }
    }
  }

  .reply-input {
    .reply-input-body {
      width: 100%;

      .reply-input-buttons {
        padding: 0 2rem;
        width: 100%;
        text-align: center;

        button {
          margin: 0.5rem 0;
          display: inline-block;

          &:not(:last-child) {
            margin-right: 30%;
          }
        }
      }

      .inline-input {
        width: 100%;
      }

      tbody {
        margin-bottom: 1rem;
      }

      .bold {
        font-weight: bold;
      }

      th,
      td {
        padding: 0 0.5rem;
        border-bottom: 1px solid #e8e8e8;

        &:not(:last-child) {
          border-right: 1px solid #e8e8e8;
        }
      }

      th {
        background-color: #fafafa;
        font-weight: normal;
      }
    }
  }

  .inline-input {
    display: inline-block;
    height: 1.1rem;
    outline: none;
    border-radius: 3px;
    border: 1px solid #e8e8e8;
    padding: 0 0.3rem;

    &.amount {
      max-width: 4rem;
      text-align: right;
      margin-right: 5px;
    }

    &[disabled] {
      background-color: #efefef;
    }
  }

  .reloading {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .spin {
      span {
        z-index: 99999;
      }
    }

    .mask {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.7);
      z-index: 99998;
    }
  }
}
