@mixin for-header-and-footer {
  min-height: 100px;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  background-color: #4e7383;
  color: #fff;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f4;
  overflow: hidden;

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .header {
      @include for-header-and-footer();
      font-size: 1.5rem;
      padding-left: 1rem;

      .header-buttons {
        margin-left: auto;
        margin-right: 1rem;

        button {
          background-color: transparent;
          cursor: pointer;
          outline: none;
          border: none;
          margin: 0 0.5rem;
        }
      }
    }

    .footer {
      @include for-header-and-footer();
      justify-content: center;
    }
  }

  .sortable-switch {
    cursor: pointer;

    button {
      margin-left: 1rem;
    }
  }
}
